body {
    margin: 0px !important;
}

td{
    text-align: center;
}
.puredata {
    position: fixed;
    right: 10px;
    top: 15px;
}
button.btn.btn-succeess {
    height: 35px;
    border-radius: 5px;
    background: #79e4e9;
    box-shadow: #79e4e9;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
}
.search{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: beige;
    height: 125px;
}
.form-group.startdate {
    float: left;
    margin-left: 10px;
}
label.startdate {
    float: left;
    margin-right: 10px;
    line-height: 1.5;
}
label.enddate {
    float: left;
    margin-right: 10px;
    line-height: 1.5;
}
.form-group.endDate {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.form-control.datesearch {
    margin-top: 15px;
}
button.btn.btn-default.enddate {
    height: 30px;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;
    /* background: #f1f1f1; */
    border-width: 1px;
    border-radius: 5px;
    margin-top: -3px;
    background: #f6f6f6;
}
p#date_filter {
    z-index: 23;
    top: 4px;
    position: fixed;
    left: 659px;
}